- if @user
  %p{:style => "color:green;"}
    = flash[:notice]
  .error
    = @user.errors.full_messages.join(" ")
  = form_tag(params.slice(:action, :controller, :id, :reset_token)) do
    %h2
      Password reset for:
      = @user.email
    = label_tag(:password, "Enter new password")
    = text_field_tag(:password, nil)
    = label_tag(:password_confirmation, "Confirm new password")
    = text_field_tag(:password_confirmation, nil)
    = submit_tag("Reset password", :style => "display:block;")
- else
  .error{:style => "text-align:center;"}
    Invalid password reset token.