.reagent_row
  .remove
    - if allow_delete
      = link_to("", "javascript:void(0)", :class => "remove_button")
    - else
      &nbsp;
  .name
    = label_tag :reagent_name, "Name"
    = text_field_tag :reagent_name
  .link
    = label_tag :link, "Link - optional"
    = text_field_tag :link, ""
